.project_section {
    color: var(--white);
}

.project-list {
}

.project-name {
    color: var(--black);
    padding: 10px 0;
    text-align: center;
}

.project-list-tech {
}

.project-item-tech {
}

.project-image {
}

.project-buttons {
    display: flex;
}
